{% extends "base.html" %}
{% load widget_tweaks %}
{% block styles %}
<style>
  .custom-links:hover {
      cursor: pointer;
  }
  .align-right{
    text-align: right;
  }
  .copy-icon:hover{
    cursor: pointer;
  }
</style>
{% endblock styles %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="mb-5">
  
  {% if open_status %}
  You are inside room: <a href="{% url 'main:room' link=link %}">{{ request.get_host }}{{ request.path }}</a> <span class="copy-icon" onclick="copyToClipboard('{{ request.get_host }}{{ request.path }}')"><i class="fa fa-copy" style="color: blue;" title="Copy"></i></span> | 
    {% if room_creater %}
      <a href="{% url 'main:closeRoom' link=link %}">close room</a>
    {% endif %}
  {% else %}
    You are inside room: {{ request.get_host }}{{ request.path }}<br/>
    This room is closed by the creater.
  {% endif %}
  <br/>
      <p>
        Total Verified Users: <b id="total-users">{{ total_users }}</b> |
        {% if room_creater %}
        <button type="button" id="getVerifiedIpsBtn" class="btn" style="color:blue;">Show Users</button>
        {% endif %}
        <br>
        <div id="getVerifiedIpsMsgBox"></div>
      </p>
</div>

{% if open_status %}
  <input type="text" id="inputMessage" class="form-control mb-3" placeholder="Type a message" autofocus>
  <button id="sendSocket" class="btn btn-primary">Send</button>
  <div id="disconnected-msg-box"></div>
  <hr/>
{% endif %}


<div class="message-box">
{% if fetched_messages %}
  {% for message in fetched_messages %}

  {% if message.ip_address == client_ip %}
  <div class="mb-3 align-right">
  {% else %}
  <div class="mb-3">
  {% endif %}
      <small class="text-muted">{{ message.ip_address }}<br/>
      {{ message.updated_at }}</small><br/>
      <div>
        <b id="message-{{ message.id }}">{{ message.message }}</b>
        {% if message.ip_address == client_ip and open_status %}
        <form action="{% url 'main:updateMessage' link=link %}" method="post" style="display:none;" id="message-input-{{ message.id }}">
          {% csrf_token %}
          <input type="text" value="{{ message.message }}" name="updatedMessage" required>
          <button type="submit" class="btn btn-warning px-2 py-1 m-0" name="messageId" value="{{ message.id }}">Update</button>
        </form>
        <a class="custom-links" onclick='enableEditMode({{ message.id }})' id="editBtn-{{ message.id }}">Edit</a>
        <a class="custom-links" style="display:none;" onclick='disableEditMode({{ message.id }})' id="cancelBtn-{{ message.id }}">Cancel</a>
        {% endif %}
      </div>
  </div>
  {% endfor %}
{% endif %}
</div>
{% endblock content %}

{% block scripts %}
<script>
{% if open_status %}

  function enableEditMode(msgId){
    const msg = document.querySelector(`#message-${msgId}`)
    const msgInput = document.querySelector(`#message-input-${msgId}`)
    const editBtn = document.querySelector(`#editBtn-${msgId}`)
    const cancelBtn = document.querySelector(`#cancelBtn-${msgId}`)

    msg.style.display='none'
    editBtn.style.display='none'
    cancelBtn.style.display='inline'
    msgInput.style.display='inline'
  }
  
  function disableEditMode(msgId){
    const msg = document.querySelector(`#message-${msgId}`)
    const msgInput = document.querySelector(`#message-input-${msgId}`)
    const editBtn = document.querySelector(`#editBtn-${msgId}`)
    const cancelBtn = document.querySelector(`#cancelBtn-${msgId}`)

    msg.style.display='inline'
    editBtn.style.display='inline'
    cancelBtn.style.display='none'
    msgInput.style.display='none'
  }


  const ws = new WebSocket('wss://'+ window.location.host + '/ws/ac/' + '{{ link }}/')
  ws.onopen = () =>{
    console.log('Socket Connected.')
  }
  
  ws.onmessage = (event) =>{
    messageBundle = JSON.parse(event.data)
    totalUsers = document.querySelector('#total-users')
    totalUsers.innerHTML = messageBundle.total_users
    msgBox = document.querySelector('.message-box')
    newMessage = document.createElement('div')
    
    const d = new Date()
    const month = ["January","February","March","April","May","June","July","August","September","October","November","December"]
    
    newMessage.innerHTML = `
    <small class="text-muted">${messageBundle.sender_ip}<br/>
    ${month[d.getMonth()]} ${d.getDate()}, ${d.getFullYear()}, ${d.getHours() % 12 || 12}:${d.getMinutes() < 10 ? '0' + d.getMinutes() : d.getMinutes()} ${(d.getHours() >= 12) ? "p.m." : "a.m."}</small><br/>
    `
    if(messageBundle.sender_ip == '{{ client_ip }}'){
      newMessage.setAttribute('class', 'mb-3 align-right')
      newMessage.innerHTML +=`
    <div>
      <b id="message-${messageBundle.message_id}">${messageBundle.msg}</b>
      <form action="{% url 'main:updateMessage' link=link %}" method="post" style="display:none;" id="message-input-${messageBundle.message_id}">
          {% csrf_token %}
          <input type="text" value="${messageBundle.msg}" name="updatedMessage" required>
          <button type="submit" class="btn btn-warning px-2 py-1 m-0" name="messageId" value="${messageBundle.message_id}">Update</button>
      </form>
        <a class="custom-links" onclick='enableEditMode(${messageBundle.message_id})' id="editBtn-${messageBundle.message_id}">Edit</a>
        <a class="custom-links" style="display:none;" onclick='disableEditMode(${messageBundle.message_id})' id="cancelBtn-${messageBundle.message_id}">Cancel</a>
    </div>`
    }
    else{
      newMessage.setAttribute('class', 'mb-3')
      newMessage.innerHTML +=`<div><b id="message-${messageBundle.message_id}">${messageBundle.msg}</b></div>`
    }
    msgBox.insertBefore(newMessage, msgBox.firstChild)
  }
  
  ws.onclose = (event) =>{
    console.log('Socket closed.')
    inputMessage = document.querySelector('#inputMessage')
    disconnectedMsgBox = document.querySelector('#disconnected-msg-box')

    inputMessage.value=''
    inputMessage.setAttribute('disabled', true)
    disconnectedMsgBox.innerText = 'Socket disconnected !!!'
  }

  const sendbtn = document.querySelector('#sendSocket')
  sendbtn.addEventListener('click',()=>{
    inputMessage = document.querySelector('#inputMessage')
    if (inputMessage.value==''){
      alert('message cannot be empty !!!')
    }
    else{
      ws.send(JSON.stringify({
        'sender_ip': '{{ client_ip }}',
        'msg': inputMessage.value
      }))
      inputMessage.value=''
    }
  })

  function copyToClipboard(text) {
    const icon = document.querySelector('.copy-icon')
    icon.innerHTML = '<i class="fa fa-check-square" style="color: limegreen;" title="Copied"></i>'
    var textarea = document.createElement('textarea');
    textarea.value = text;
    document.body.appendChild(textarea);
    textarea.select();
    document.execCommand('copy');
    document.body.removeChild(textarea);
}

{% endif %}
{% if room_creater %}
    const getIpBtn = document.querySelector('#getVerifiedIpsBtn')
    getIpBtn.addEventListener('click', async ()=>{
      const getIpBox = document.querySelector('#getVerifiedIpsMsgBox')
      const ipResponse = await fetch("{% url 'main:getVerifiedIps' link=link %}")
      const ipdata = await ipResponse.json()
      if(ipdata.verifiedIps){
        let VerifiedIpHTML = ""
        ipdata.verifiedIps.forEach(element => {
          VerifiedIpHTML += `<b>${element}</b><br>`
        });
        getIpBox.innerHTML = VerifiedIpHTML
      }
      else{
        getIpBox.innerText=JSON.stringify(ipdata)
      }
    })
  {% endif %}
</script>
{% endblock scripts %}